.header{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px;
    color: orange;
    font-family: 'Poor Story', cursive;
    
}
a:link{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a{
    color: black;
}



.card-img-top2{
    height: calc(50vh - 100px);
  width: auto;
  margin: 0 auto; 
}