<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/{{css}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Scamazon</title>
</head>
<body>
    <header class="header">
        <a href="/">
            <h1>scamazon</h1>
        </a>
        <nav class="navbar navbar-expand-lg">
        {{#if sesh.isLoggedIn}}
            <button>
                <a href="/profile">profile</a>
            </button>
            {{!-- <button class="no-button" id="logout">logout</button> --}}
            <button>
                <a href="/user/logout">logout</a>
            </button>
        {{else}}
            <button>
                <a href="/user/login">login</a>
            </button>
        {{/if}}
        {{#if sesh.uID}}
            <button>
                <a href="/cart/get/{{sesh.uID}}">Cart</a>
            </button>
        {{/if}}
            <input type="search">
      </nav>
    </header>
    <div>
        {{{body}}}
    </div>
</body>
 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>