<p class="top">All Products</p>

<div class="cardContainer row justify-content-center ">
  {{#each product}}
  <div class="card" style="width: 16rem;">
      <img src="/assets/images/{{img_name}}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <div class="d-flex row position-relative p-3">
        <img src="/assets/images/download.jpg" width="30" height="30">
        <p class="card-text">{{price}}</p>
      </div>
      <a href="/product/get/{{id}}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {{/each}}
</div>
