 <a href="/homepage/products">See all products</a>

<div id="img">
<img name="slide" width="200" height="1000" />
</div>

<p class="top">Top Products</p>

<div class="cardContainer">
  {{#each product}}
  <div class="card" style="width: 18rem;">
      <img src="https://via.placeholder.com/150C/O https://placeholder.com/" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{price}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {{/each}}
 
</div>

<script>
  var i = 0;
  var images = [];
  var time = 2000;

  images[0] = "./assets/images/orogold.jpg"
  images[1] = "./assets/images/lorax.jpg"
  images[2] = "./assets/images/cargo-jort.jpeg"

  function changeImg(){
    document.slide.src = images[i];
    if(i < images.length -1){
      i++
    }else {
      i=0
    }
    setTimeout("changeImg()", time)
  }

  window.onload = changeImg;
</script>