

<div id="img">
<img name="slide" width="200" height="1000" />
</div>

<p class="top">Top Products</p>

<div class="cardContainer">
  {{#each product}}
  <div class="card" style="width: 18rem;">
      <img src="assets/images/{{img_name}}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{price}}</p>
      <a href="/product/get/{{id}}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {{/each}}
 
</div>
<script src="/assets/js/homePage.js"></script>
