{{#each product}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{product.name}}</h3>
    <img src="https://via.placeholder.com/250" class="card-img-top" alt="...">
    <p class="card-text">{{product.price}}</p>
    <a href="/:id" class="btn btn-primary">Buy Me Now!</a>
  </div>
  <div class="description">
    <p class="card-description"> {{product.description}}</p>
  </div>
</div>
{{/each}}
<p>test</p>